<div class='request-form'>
  <%= form_for @request do |f| %>
    <% if @request.errors.any? %>
      <div class="form-errors">
        <ul>
          <% @request.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class='field'>
      <%= f.label :gist_url, 'Gist URL (ex. https://gist.github.com/SamSamskies/6921734)' %>
      <%= f.url_field :gist_url, required: true, pattern: "https://gist.github.com/.+" %>
    </div>

    <div class='field'>
      <%= f.label :title %>
      <%= f.text_field :title, required: true %>
    </div>

    <div class='field'>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <%= f.submit 'Submit Request', class: 'button-submit' %>
  <% end %>
</div>
