<div class="request-info-containter">

  <div class='request-title'>
    <div class='username'>Asked by <%= @request.user.username %></div>
    <%= @request.title %>
  </div>
  <% unless current_user == @request.user %>
    <%= image_tag(@request.user.avatar_url, class: "avatar-img") %>
  <% end %>
  <div class='request-description'>
    <%= @request.description %>
  </div>
</div>

<div class='request-embeded-gist'>
  <script src="<%= @request.embed_url %>"></script>
</div>

<div id='comments-container'>
  <% @request.comments.each do |comment| %>
      <%= render '/comments/comment', request: @request, comment: comment %>
  <% end %>
</div>

<div id='comment-form-container'>
  <%= render 'comments/form', locals: { request: @request } %>

  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
  <a class="addthis_button_preferred_1"></a>
  <a class="addthis_button_preferred_2"></a>
  <a class="addthis_button_preferred_3"></a>
  <a class="addthis_button_preferred_4"></a>
  <a class="addthis_button_compact"></a>
  <a class="addthis_counter addthis_bubble_style"></a>
  </div>
  <script type="text/javascript">
    var addthis_config = {
      "data_track_addressbar" : false,
      "data_track_clickback"  : false
    }

    var addthis_share = addthis_share || {}
    addthis_share = {
      passthrough : {
        twitter: {
          text: "Requesting a code review, please. :)"
        },
      }
    }
  </script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51febb8b0c7aa2c1"></script>
  <!-- AddThis Button END -->
</div>


