<!DOCTYPE html>
<html>
<head>
  <title>Codereviewplease</title>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oxygen+Mono' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oxygen:700,400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://yandex.st/highlightjs/7.5/styles/default.min.css">
  <script src="http://yandex.st/highlightjs/7.5/highlight.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div class="container">
    <%= link_to 'Code Review, Please', root_path, class: 'brand' %>
    <% if current_user %>
      <%= link_to user_path(current_user) do %><%= image_tag(current_user.avatar_url) %><% end %>
      <%= link_to logout_path do %><i class="fa fa-sign-out fa-2x"><span class="alt-logout">Logout</span></i><% end %>
      <%= link_to new_request_path do %><i class="fa fa-bullhorn fa-2x"><span class="alt-new-request">New Request</span></i><% end %>
    <% else %>
      <%= link_to '/auth/github' do %><button type="button" class= 'button-github'><i class="fa fa-github"></i> Sign In</button><% end %>
    <% end %>
  </div>
</div>

<div ng-app='codeReview' class="container">
  <%= yield %>
</div>

</body>
</html>
