<!DOCTYPE html>
<html>
<head>
  <title>Codereviewplease</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  
  <%= link_to '/auth/github' do%>
    <button type="button" class= 'github-button'>  <i class="fa fa-github"></i> Sign in bro </button>
  <% end %>

<%= yield %>

</body>
</html>
